/*
Theme Name: julias
Theme URI: http://start-solutions.net/julias
Author: Mohamad Elbialy
Author URI: http://start-solutions.net/
Description: child theme of bakes and cakes
Text Domain: julias
Template: bakes-and-cakes
*/
/*break points*/
.site-content {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  background: #FFF;
  border: solid 1px #f5f5f5; }
  .site-content:after {
    content: " ";
    display: block;
    clear: both; }
  .site-content--dashboard {
    background: #f5f5f5;
    padding: 0 16px; }
  .site-content--course-single {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: none;
    color: #4b4b4b; }
    .site-content--course-single:after {
      content: " ";
      display: block;
      clear: both; }
  .site-content--full-width {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: none; }
    .site-content--full-width:after {
      content: " ";
      display: block;
      clear: both; }

.wrapper {
  padding: 16px 10px; }
  @media (min-width: 1200px) {
    .wrapper {
      max-width: 1170px;
      margin-left: auto;
      margin-right: auto; }
      .wrapper:after {
        content: " ";
        display: block;
        clear: both; } }
  .wrapper__video-container {
    padding: 0 10px; }
    @media (min-width: 1200px) {
      .wrapper__video-container {
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto; }
        .wrapper__video-container:after {
          content: " ";
          display: block;
          clear: both; } }
  .wrapper__narrow {
    padding: 0 16px;
    overflow: hidden; }
    @media (min-width: 1200px) {
      .wrapper__narrow {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto; }
        .wrapper__narrow:after {
          content: " ";
          display: block;
          clear: both; } }

/*header layout  =========================================*/
.home .woocommerce #primary .products li {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }
  @media (min-width: 768px) {
    .home .woocommerce #primary .products li:nth-child(odd) {
      width: 48.5714285714%;
      float: left;
      margin-right: 2.8571428571%; }
    .home .woocommerce #primary .products li:nth-child(even) {
      width: 48.5714285714%;
      float: right;
      margin-right: 0; } }
  @media (min-width: 1200px) {
    .home .woocommerce #primary .products li:nth-child(odd) {
      width: 22.8571428571%;
      float: left;
      margin-right: 2.8571428571%; }
    .home .woocommerce #primary .products li:nth-child(even) {
      width: 22.8571428571%;
      float: left;
      margin-right: 2.8571428571%; }
    .home .woocommerce #primary .products li:nth-child(4n) {
      width: 22.8571428571%;
      float: right;
      margin-right: 0; } }

.archive #primary .products li {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }
  @media (min-width: 768px) {
    .archive #primary .products li:nth-child(odd) {
      width: 48.5714285714%;
      float: left;
      margin-right: 2.8571428571%; }
    .archive #primary .products li:nth-child(even) {
      width: 48.5714285714%;
      float: right;
      margin-right: 0; } }
  @media (min-width: 1200px) {
    .archive #primary .products li:nth-child(odd) {
      width: 22.8571428571%;
      float: left;
      margin-right: 2.8571428571%; }
    .archive #primary .products li:nth-child(even) {
      width: 22.8571428571%;
      float: left;
      margin-right: 2.8571428571%; }
    .archive #primary .products li:nth-child(4n) {
      width: 22.8571428571%;
      float: right;
      margin-right: 0; } }

#coupon-popup .modal-content .modal-body {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }

/*checkout page layout ==================================*/
.woocommerce-checkout #customer_details, #order_review_heading, #order_review, .jckwds-delivery-date, .jckwds-delivery-time {
  width: 100% !important; }
  @media (min-width: 1200px) {
    .woocommerce-checkout #customer_details, #order_review_heading, #order_review, .jckwds-delivery-date, .jckwds-delivery-time {
      width: 48% !important; } }

/*contact us page alyout ===============================*/
.contact-page {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }

@media (min-width: 768px) {
  .contact-info {
    width: 31.4285714286%;
    float: left;
    margin-right: 2.8571428571%; } }

@media (min-width: 768px) {
  .contact-page article {
    width: 65.7142857143%;
    float: right;
    margin-right: 0; } }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*compass resets*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 2; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

* {
  box-sizing: border-box; }
  *:focus {
    outline: none; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

body {
  font-family: "Open Sans", sans-serif; }

img {
  width: 100%; }

.required {
  color: red; }

.container {
  margin-top: 50px;
  margin-bottom: 50px; }

.site-content {
  margin-bottom: 0px !important; }

.page-content {
  background-color: white;
  width: 100%; }

.inline-list:after {
  content: "";
  display: table;
  clear: both; }

.inline-list li {
  display: block; }
  @media (min-width: 1200px) {
    .inline-list li {
      float: left; } }

.site-branding img {
  width: 170px; }

.site-header:before, .site-footer:before, .banner:after {
  background: none; }

@media (min-width: 768px) {
  .banner .banner-text {
    top: 4vw; } }

.banner .banner-text .text {
  text-align: center; }
  .banner .banner-text .text .btn {
    display: none; }

.woocommerce-loop-product__title {
  font-weight: bold; }

.home .woocommerce-ordering {
  margin-bottom: 25px;
  float: right; }

#coupon-popup .modal-content {
  width: 100% !important;
  overflow: hidden; }
  @media (min-width: 768px) {
    #coupon-popup .modal-content {
      width: 85% !important; } }
  @media (min-width: 1200px) {
    #coupon-popup .modal-content {
      width: 50% !important; } }

#coupon-popup .close {
  margin-top: -20px; }

#coupon-popup .field-group label {
  font-weight: bold; }

#coupon-popup .field-group input {
  background-color: #dcdcdc;
  width: 35%;
  margin-bottom: 10px; }

.copoun-modal-title {
  font-weight: bold;
  font-size: 35px;
  line-height: 1.2; }

.copoun-modal-description {
  font-size: 13px;
  margin: 10px 0px; }

fieldset {
  border: none; }

.addon-section h2.title {
  font-weight: bold;
  font-size: 1.5em; }

h3.addon-title {
  font-size: 1.2em;
  font-weight: bold; }

.woocommerce div.product .woocommerce-tabs .entry-content .comment-reply-title {
  font-size: 27px !important; }
  @media (min-width: 768px) {
    .woocommerce div.product .woocommerce-tabs .entry-content .comment-reply-title {
      font-size: 35px !important; } }

fieldset {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0; }

.addon-options span:last-child {
  display: block;
  float: none; }
  @media (min-width: 768px) {
    .addon-options span:last-child {
      display: inline;
      float: right; } }

.variations_form fieldset {
  margin: 0 1%;
  width: 108%; }
  @media (min-width: 768px) {
    .variations_form fieldset {
      width: 102%; } }

.woocommerce .quantity .qty {
  width: 100%; }

.quantity {
  width: 14.2857142857%;
  float: left;
  margin-right: 2.8571428571%; }
  @media (min-width: 768px) {
    .quantity {
      width: 8.2857142857%;
      float: left;
      margin-right: 2.8571428571%; } }
  @media (min-width: 1200px) {
    .quantity {
      width: 10%;
      float: left;
      margin-right: 2.8571428571%; } }

.single_add_to_cart_button {
  width: 74.2857142857%;
  float: right;
  margin-right: 0; }
  @media (min-width: 768px) {
    .single_add_to_cart_button {
      width: 48.5714285714%;
      float: right;
      margin-right: 0; } }

.woocommerce div.product form.cart .button {
  padding: 10px 35px 10px 36px !important; }

.woocommerce div.product form.cart .button:before {
  left: 10px !important; }

.pine_alph_qty {
  width: 50%; }
  @media (min-width: 768px) {
    .pine_alph_qty {
      float: none;
      width: 15%; } }

.pine_alph_ccs {
  margin-bottom: 5px; }

.num-option span:last-child input {
  width: 53%; }
  @media (min-width: 768px) {
    .num-option span:last-child input {
      width: 18%; } }
  @media (min-width: 1200px) {
    .num-option span:last-child input {
      width: 50%; } }

.cart_item .product-quantity {
  overflow: hidden !important; }

.cart_item .quantity {
  margin-right: 23px;
  float: right; }
  @media (min-width: 768px) {
    .cart_item .quantity {
      margin-left: 0px;
      margin-right: 31px; } }
  @media (min-width: 1200px) {
    .cart_item .quantity {
      margin-left: 0px;
      margin-right: 0px;
      float: none; } }

.woocommerce-page table.cart td.actions .coupon input {
  font-size: 9px; }
  @media (min-width: 768px) {
    .woocommerce-page table.cart td.actions .coupon input {
      font-size: 15px; } }

.woocommerce table.cart td.actions .input-text, .woocommerce-page #content table.cart td.actions .input-text, .woocommerce-page table.cart td.actions .input-text {
  padding: 13px 7px !important;
  margin-right: 10px; }

.woocommerce-cart .woocommerce .quantity .qty {
  width: 170% !important; }

#primary .page .entry-content h2 {
  font-size: 22px; }
  @media (min-width: 1200px) {
    #primary .page .entry-content h2 {
      font-size: 28px; } }

.woocommerce ul.order_details li {
  border-right: none;
  margin-bottom: 10px; }
  @media (min-width: 768px) {
    .woocommerce ul.order_details li {
      margin-bottom: 0px;
      border-right: 1px dashed #d3ced2; } }

.woocommerce-notice {
  margin-bottom: 10px; }

/*contact us layout */
.contact-info {
  overflow: hidden;
  padding: 0px 10px; }

.contact-page article {
  overflow: hidden; }

.contact-page .site-main {
  background: white;
  overflow: hidden !important; }

.page-content, .entry-content, .entry-summary {
  margin: 0px;
  padding: 0px 10px;
  margin-top: 10px; }
  @media (min-width: 768px) {
    .page-content, .entry-content, .entry-summary {
      margin-top: 0px; } }
  @media (min-width: 1200px) {
    .page-content, .entry-content, .entry-summary {
      padding: 0px 100px 0px 0px; } }

.contact-page .page-content {
  padding: 10px; }

.contact-page .container {
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 0px; }

.contact-page .entry-header {
  margin: 25px 10px; }

.contact-info ul {
  list-style-type: none;
  margin: 0; }

.contact-info h3 {
  color: #f6a8c6;
  margin-bottom: 5px;
  font-weight: bold; }

.gmap {
  margin: 10px 0px; }

.contact-page .entry-title {
  font-size: 2em;
  margin: 0.67em 0;
  font-weight: bold; }

.contact-page input[type="text"], .contact-page input[type="email"], .contact-page input[type="url"], .contact-page input[type="password"], .contact-page input[type="search"] {
  width: 100%; }

.copyright-notice {
  text-align: center; }

.nav-taps {
  background: #f5f5f5;
  color: #a4abb2;
  font-size: 14px; }
  .nav-taps .text {
    display: none; }
    @media (min-width: 1200px) {
      .nav-taps .text {
        display: inline-block; } }
  .nav-taps ul {
    margin: 0;
    padding: 0; }
  .nav-taps li {
    list-style: none;
    display: inline-block;
    padding: 10px; }
  .nav-taps .active {
    background: #FFF;
    border: solid 1px #e2e9e6;
    border-bottom: none; }
    .nav-taps .active a {
      color: #42a5f5; }
  .nav-taps a {
    font-weight: 300;
    text-decoration: none;
    padding: 16px 10px;
    color: #a4abb2;
    font-weight: 500; }
  .nav-taps:after {
    content: "";
    display: table;
    clear: both; }

.form-container {
  color: #212121;
  padding: 20px 10px; }
  @media (min-width: 768px) {
    .form-container {
      padding: 20px 0; } }
  .form-container:after {
    content: "";
    display: table;
    clear: both; }

.input-group {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 16px; }

.form-label {
  font-weight: bold;
  font-size: 12px; }
  @media (min-width: 768px) {
    .form-label {
      width: 22.8571428571%;
      float: left;
      margin-right: 2.8571428571%;
      text-align: right; } }

@media (min-width: 768px) {
  .form-control {
    width: 74.2857142857%;
    float: right;
    margin-right: 0; } }

.form-control .full-name-container {
  border-bottom: solid 1px #e2e9e6;
  display: block;
  width: 100%;
  margin-right: 0; }
  @media (min-width: 768px) {
    .form-control .full-name-container {
      display: inline-block;
      width: 240px;
      margin-right: 20px; } }

.form-control .input-container {
  border-bottom: solid 1px #e2e9e6;
  width: 100%; }
  @media (min-width: 768px) {
    .form-control .input-container {
      width: 400px; } }

.form-control-icon {
  float: left;
  padding-right: 20px;
  color: #e2e9e6; }

.form-control p {
  font-size: 12px;
  color: #42a5f5;
  display: none; }

input[type='text'], input[type="email"], input[type="password"] {
  border: none;
  padding: 10px 0; }

::placeholder {
  color: #212121;
  font-size: 14px; }

.profile-pic {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  display: inline-block;
  font-size: 35px;
  background: #f5f5f5; }

.upload-pic {
  display: inline-block;
  margin-left: 10px; }

select {
  background: #f5f5f5;
  color: #212121;
  border: solid 1px #e2e9e6;
  border-radius: 3px;
  padding: 5px 10px 5px 5px; }

.btn {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 10px 15px; }

.btn-primary {
  background: #42a5f5;
  color: #FFF; }

.btn-small {
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 3px; }

.btn-white {
  background: #FFF;
  border: solid 1px #f5f5f5; }
  .btn-white:hover {
    background: #f5f5f5; }

.btn-green {
  background: #3d8b40;
  color: #FFF; }

.btn-learning {
  background: #d7443f;
  border-radius: 25px;
  color: #FFF;
  font-weight: 100; }
  .btn-learning:hover {
    background: transparent;
    border: solid 1px #FFF; }

.payments-details {
  border-top: solid 1px #e2e9e6;
  margin: 12px; }

.section-title {
  padding: 20px 0; }
  .section-title h2 {
    font-weight: 500;
    display: inline-block; }
  .section-title button {
    float: right; }

.payment-info {
  border: solid 1px #e2e9e6;
  padding: 10px;
  border-bottom: none; }
  .payment-info:last-child {
    border-bottom: solid 1px #e2e9e6; }
  .payment-info .creadit-icon {
    float: left;
    width: 56px;
    height: 56px;
    border-radius: 28px;
    overflow: hidden;
    margin-right: 14px;
    padding-top: 13px;
    padding-left: 13px;
    background: #f5f5f5; }
    .payment-info .creadit-icon i {
      font-size: 28px; }
  .payment-info .creadit-info {
    float: left; }
  .payment-info button {
    float: right;
    margin-top: 9px; }
  .payment-info h3 {
    font-weight: bold; }
  .payment-info p {
    color: #212121; }
  .payment-info:after {
    content: "";
    display: table;
    clear: both; }

.dashboard-title {
  padding: 20px 0; }
  .dashboard-title h1 {
    font-size: 32px;
    color: #212121;
    font-weight: 500; }

.breadcrumb {
  background: #FFF;
  border: solid 1px #e2e9e6;
  font-size: 14px;
  padding: 10px; }
  .breadcrumb:after {
    content: "";
    display: table;
    clear: both; }
  @media (min-width: 768px) {
    .breadcrumb {
      padding: 0; } }
  .breadcrumb .dashboard-icon {
    width: 62px;
    height: 62px;
    background: #66bb6a;
    display: inline-block; }
    @media (min-width: 768px) {
      .breadcrumb .dashboard-icon {
        float: left; } }
    .breadcrumb .dashboard-icon i {
      font-size: 24px;
      color: #FFF;
      margin-top: 19px;
      margin-left: 19px; }
  .breadcrumb strong {
    font-weight: 500; }
  .breadcrumb p {
    display: inline-block; }
    @media (min-width: 768px) {
      .breadcrumb p {
        margin-left: 10px;
        margin-top: 19px; } }
  .breadcrumb button {
    float: right;
    margin-top: 16px; }
    @media (min-width: 768px) {
      .breadcrumb button {
        margin-right: 10px;
        margin-top: 10px; } }

.quizzes {
  font-size: 14px; }
  .quizzes .course-info {
    border-bottom: solid 1px #e2e9e6;
    padding: 6px 14px; }
    .quizzes .course-info:after {
      content: "";
      display: table;
      clear: both; }
    .quizzes .course-info .course {
      display: inline-block; }
  .quizzes .subject {
    font-size: 13px;
    margin-top: -6px; }
    .quizzes .subject span {
      color: #a4abb2; }
  .quizzes .grade {
    float: right; }
    .quizzes .grade h1 {
      font-size: 38px;
      margin-top: -20px; }
    .quizzes .grade p {
      margin-top: -24px;
      color: #a4abb2; }
    .quizzes .grade--great {
      color: #66bb6a; }
    .quizzes .grade--failed {
      color: #d7443f; }

.rewards .section-title {
  border-bottom: none; }

.rewards-icon {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  display: inline-block;
  margin: 10px 0 10px 10px; }
  .rewards-icon i {
    font-size: 24px;
    color: #FFF;
    margin: 13px 0 0 13px; }
  .rewards-icon--blue {
    background: #42a5f5; }
  .rewards-icon--green {
    background: #66bb6a; }
  .rewards-icon--gray {
    background: #f5f5f5; }
  .rewards-icon--cup i {
    margin-left: 10px; }

.forum-activity h2 {
  font-size: 24px; }

.forum-activity h4 {
  color: #a4abb2; }

.forum-activity .recent-activity {
  padding: 10px 14px;
  border-bottom: solid 1px #e2e9e6; }
  .forum-activity .recent-activity:last-child {
    border-bottom: none; }
  .forum-activity .recent-activity figure {
    width: 42px;
    height: 42px;
    border-radius: 21px;
    overflow: hidden;
    display: inline-block; }
    @media (min-width: 768px) {
      .forum-activity .recent-activity figure {
        float: left; } }
    .forum-activity .recent-activity figure img {
      height: 60px;
      width: 60px;
      margin-top: -6px;
      margin-left: -9px; }
  .forum-activity .recent-activity .topic {
    display: inline-block;
    font-size: 14px; }
    @media (min-width: 768px) {
      .forum-activity .recent-activity .topic {
        margin-left: 10px; } }
    .forum-activity .recent-activity .topic span p {
      font-size: 13px;
      margin-top: -8px; }
  .forum-activity .recent-activity .time-published {
    float: right;
    margin-top: 12px;
    font-size: 12px;
    color: #a4abb2; }

.forum-activity:after {
  content: "";
  display: table;
  clear: both; }

@media (min-width: 1200px) {
  .left-content {
    width: 48.5714285714%;
    float: left;
    margin-right: 2.8571428571%; } }

@media (min-width: 1200px) {
  .right-content {
    width: 48.5714285714%;
    float: right;
    margin-right: 0; } }

.section {
  background: #FFF;
  border: solid 1px #e2e9e6;
  border-radius: 3px;
  margin: 16px 0; }
  .section-title {
    border-bottom: solid 1px #e2e9e6;
    padding: 0 14px; }
    .section-title h2 {
      margin: 0;
      padding: 0;
      font-size: 24px; }
      .section-title h2 span {
        font-size: 18px;
        color: #a4abb2; }
    .section-title h4 {
      font-size: 16px;
      color: #a4abb2;
      margin-top: -16px; }
  .section-content ul {
    margin: 0;
    padding: 0; }
  .section-content li {
    display: block;
    padding: 6px 14px;
    border-bottom: solid 1px #e2e9e6; }
    .section-content li:after {
      content: "";
      display: table;
      clear: both; }
    .section-content li .progress {
      float: right;
      margin-top: 12px; }
  .section-content a {
    text-decoration: none;
    color: #212121; }
    .section-content a:hover {
      color: #42a5f5; }
  .section-footer {
    text-align: right;
    padding: 10px 14px; }

.progress {
  width: 100px;
  height: 10px;
  background: #f5f5f5;
  position: relative; }

.progress-bar {
  height: 10px;
  position: absolute;
  top: 0;
  left: 0; }
  .progress-bar__30 {
    width: 30%; }
  .progress-bar__50 {
    width: 50%; }
  .progress-bar__70 {
    width: 70%; }
  .progress-bar__blue {
    background: #42a5f5; }

.video-container {
  background: linear-gradient(180deg, #000, #4b4b4b); }
  .video-container__text {
    background: linear-gradient(90deg, #000 0, #000 35%, transparent); }
    .video-container__text__course-overview {
      display: none;
      max-width: 450px;
      padding-left: 10px;
      background: none;
      color: #FFF; }
      @media (min-width: 1200px) {
        .video-container__text__course-overview {
          display: block; } }
      .video-container__text__course-overview__instructor {
        font-size: 24px;
        padding-bottom: 22px;
        padding-top: 14px; }
      .video-container__text__course-overview__name {
        font-size: 36px;
        line-height: 46px;
        padding-bottom: 46px; }
      .video-container__text__course-overview__info {
        padding-bottom: 42px; }
        .video-container__text__course-overview__info p {
          font-size: 16px;
          font-weight: bold; }
      .video-container__text__course-overview__price {
        line-height: 20px;
        padding-bottom: 42px; }
        .video-container__text__course-overview__price span {
          margin-left: 30px; }
        .video-container__text__course-overview__price a {
          color: #42a5f5; }
      .video-container__text__course-overview__buy {
        position: relative;
        padding-bottom: 90px; }
        .video-container__text__course-overview__buy button {
          padding: 13px 20px; }
      .video-container__text__course-overview__buy__icons {
        position: absolute;
        top: -16px;
        left: 212px;
        padding: 16px 0;
        display: block; }
        .video-container__text__course-overview__buy__icons:after {
          content: "";
          display: table;
          clear: both; }
        .video-container__text__course-overview__buy__icons .icon--large {
          float: left;
          margin-right: 10px; }
  .video-container__icon {
    min-height: 160px;
    background: url("../images/video-bg.jpg");
    background-size: cover;
    position: relative; }
    @media (min-width: 768px) {
      .video-container__icon {
        min-height: 340px; } }
  .video-container__icon__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer; }
    .video-container__icon__container i {
      color: #FFF;
      font-size: 64px; }
      @media (min-width: 1200px) {
        .video-container__icon__container i {
          font-size: 114px; } }

.course-overview {
  display: none;
  background: linear-gradient(180deg, #e0e0e0, #f5f5f5); }
  .course-overview__instructor {
    font-size: 20px;
    padding-bottom: 16px; }
  .course-overview__name {
    font-size: 24px;
    line-height: 34px;
    padding-bottom: 16px; }
  .course-overview__info {
    line-height: 20px;
    padding-bottom: 16px; }
    .course-overview__info p {
      font-size: 14px;
      font-weight: bold; }
  .course-overview__price {
    line-height: 20px;
    padding-bottom: 16px; }
    .course-overview__price a {
      color: #42a5f5; }
    .course-overview__price strong {
      font-weight: bold; }
  .course-overview__buy__icons {
    padding: 16px 0;
    display: block; }
    .course-overview__buy__icons:after {
      content: "";
      display: table;
      clear: both; }
    .course-overview__buy__icons .icon--large {
      float: left;
      margin-right: 10px; }

.about-course {
  padding-top: 20px; }
  .about-course__title {
    position: relative;
    padding-bottom: 16px; }
    .about-course__title h2 {
      font-size: 28px;
      font-weight: 500;
      position: absolute;
      top: -9px;
      left: 42px; }
  .about-course__social {
    padding-bottom: 20px; }
    @media (min-width: 768px) {
      .about-course__social {
        position: absolute;
        top: 0;
        right: 0; } }
  .about-course__social__share {
    color: #000; }
    @media (min-width: 768px) {
      .about-course__social__share {
        position: absolute;
        left: -75px; } }
  .about-course__social__links {
    display: inline-flex; }
    .about-course__social__links .icon {
      margin-right: 10px; }
    .about-course__social__links a {
      color: #FFF; }
  .about-course__objective {
    padding-bottom: 20px; }
  .about-course__desc {
    padding-bottom: 20px; }
  .about-course__sidebar li {
    margin-bottom: 14px;
    line-height: 22px; }
    .about-course__sidebar li h4 {
      color: #d7443f;
      font-weight: bold; }
    .about-course__sidebar li p {
      color: #4b4b4b; }

.sessions {
  background-color: #e0e0e0;
  padding-top: 20px; }
  .sessions__title {
    position: relative;
    padding-bottom: 30px; }
    .sessions__title__ul-icon i {
      font-size: 24px; }
    .sessions__title p {
      font-size: 24px;
      position: absolute;
      top: -11px;
      left: 34px; }
      .sessions__title p span {
        display: block;
        font-size: 12px;
        margin-top: -12px; }
        @media (min-width: 768px) {
          .sessions__title p span {
            display: inline-block;
            position: relative;
            top: -2px;
            margin-left: 10px; } }
    .sessions__title__session-collapse {
      position: absolute;
      top: -8px;
      right: 0; }
      .sessions__title__session-collapse span {
        font-size: 24px; }
  .sessions__videos {
    background: #FFF;
    border-radius: 4px;
    border: solid 1px #e2e9e6;
    margin-bottom: 20px; }
    .sessions__videos__title {
      position: relative;
      overflow: hidden;
      border-bottom: solid 1px #e2e9e6; }
      .sessions__videos__title span {
        display: block;
        font-size: 28px;
        width: 40px;
        height: 40px;
        border-top-left-radius: 4px;
        background: #d7443f;
        color: #FFF;
        line-height: 40px;
        padding-left: 11px; }
      .sessions__videos__title h2 {
        position: absolute;
        top: 5px;
        left: 50px; }
    .sessions__videos__preview .session {
      position: relative;
      padding: 4px 10px;
      border-bottom: solid 1px #e2e9e6; }
      .sessions__videos__preview .session h2 {
        position: absolute;
        top: 5px;
        left: 24px; }
      .sessions__videos__preview .session span {
        position: absolute;
        top: 5px;
        right: 10px; }
    .sessions__videos__preview .session__lectures {
      position: relative;
      padding: 4px 10px 4px 20px;
      border-bottom: solid 1px #e2e9e6;
      display: none; }
      .sessions__videos__preview .session__lectures:last-child {
        border-bottom: none; }
      .sessions__videos__preview .session__lectures h2 {
        position: absolute;
        top: 4px;
        left: 42px; }
        .sessions__videos__preview .session__lectures h2 a {
          color: #42a5f5; }
      .sessions__videos__preview .session__lectures span {
        position: absolute;
        top: 5px;
        right: 10px; }
  .sessions__footer {
    position: relative; }
  .sessions__mentor {
    position: relative;
    padding-top: 20px; }
    @media (min-width: 1200px) {
      .sessions__mentor {
        padding-top: 0; } }
    .sessions__mentor p {
      position: absolute;
      top: 13px;
      left: 28px;
      font-size: 22px; }
      @media (min-width: 1200px) {
        .sessions__mentor p {
          top: -7px; } }
    .sessions__mentor__img {
      width: 122px;
      height: 122px;
      margin-top: 10px;
      border-radius: 61px;
      overflow: hidden; }
    .sessions__mentor__bio h2 {
      font-size: 32px;
      color: #4b4b4b;
      font-weight: 600; }
    .sessions__mentor__bio h4 {
      color: #4b4b4b;
      margin: -20px 0 10px 0; }
    .sessions__mentor__bio a {
      text-decoration: none;
      font-size: 14px;
      color: #42a5f5; }
      .sessions__mentor__bio a:hover {
        text-decoration: underline; }

.title {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #4b4b4b; }

.article {
  font-size: 14px;
  color: #4b4b4b;
  line-height: 22px; }

.main-content {
  position: relative; }
  @media (min-width: 1200px) {
    .main-content {
      width: 65.7142857143%;
      float: left;
      margin-right: 2.8571428571%; } }

@media (min-width: 1200px) {
  .side-bar {
    width: 31.4285714286%;
    float: right;
    margin-right: 0; } }

.icon {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  overflow: hidden;
  position: relative; }
  .icon i {
    color: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px; }
  .icon--large {
    width: 42px;
    height: 42px;
    border-radius: 21px; }
  .icon--info {
    background: #4b4b4b; }
    .icon--info i {
      font-size: 28px; }
  .icon--facebook {
    background: #4A64A6; }
  .icon--twitter {
    background: #4EAAF1; }
  .icon--linkedin {
    background: #0075B7; }
  .icon--google-plus {
    background: #D94A3A; }
  .icon--plus {
    position: relative;
    width: 16px;
    height: 16px;
    display: inline-block; }
    .icon--plus--small {
      position: relative;
      width: 9px;
      height: 9px;
      display: inline-block; }
    .icon--plus__vbar {
      width: 4px;
      height: 16px;
      background: #4b4b4b;
      position: absolute;
      top: 0;
      left: 6px; }
      .icon--plus__vbar--small {
        width: 2px;
        height: 10px;
        background: #42a5f5;
        position: absolute;
        top: 0;
        left: 4px; }
    .icon--plus__hbar {
      width: 16px;
      height: 4px;
      background: #4b4b4b;
      position: absolute;
      top: 6px;
      left: 0; }
      .icon--plus__hbar--small {
        width: 10px;
        height: 2px;
        background: #42a5f5;
        position: absolute;
        top: 4px;
        left: 0; }
  .icon--minus {
    display: inline-block;
    width: 16px;
    height: 4px;
    background: #4b4b4b;
    position: relative;
    right: 0;
    top: -5px; }
  .icon--play i {
    font-size: 16px;
    color: #42a5f5; }
  .icon--cart {
    background: #FFF; }
    .icon--cart i {
      color: #4b4b4b;
      font-size: 28px;
      margin-left: 7px;
      margin-top: 8px; }
  .icon--like {
    background: #FFF; }
    .icon--like i {
      color: #d7443f;
      font-weight: bold;
      font-size: 28px;
      margin-left: 7px;
      margin-top: 8px; }

.modal {
  position: fixed;
  z-index: 5;
  background: #000;
  top: 0;
  right: 0;
  left: 0;
  height: 160px;
  display: none; }
  @media (min-width: 768px) and (max-width: 1200px) {
    .modal {
      min-height: 340px; } }
  @media (min-width: 1200px) {
    .modal {
      height: 100vh; } }
  .modal video {
    width: 100%;
    height: 160px; }
    @media (min-width: 768px) and (max-width: 1200px) {
      .modal video {
        min-height: 340px; } }
    @media (min-width: 1200px) {
      .modal video {
        height: 100vh; } }
  .modal__close {
    color: #FFF;
    font-size: 24px;
    position: absolute;
    z-index: 10;
    top: -8px;
    right: 10px;
    padding: 0;
    transform: scaleX(1.2);
    transform-origin: 100% 0;
    cursor: pointer; }
    @media (min-width: 1200px) {
      .modal__close {
        font-size: 42px;
        z-index: 10;
        top: -16px; } }
    .modal__close:hover {
      color: #a4abb2; }

.hero-search {
  background: url("../images/bg_banner_02-3.jpg");
  background-position: center;
  text-align: center; }
  @media (min-width: 1200px) {
    .hero-search {
      background-size: cover;
      padding: 100px 0; } }
  .hero-search__content {
    background: rgba(0, 0, 0, 0.6); }
    @media (min-width: 1200px) {
      .hero-search__content {
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 4px; }
        .hero-search__content:after {
          content: " ";
          display: block;
          clear: both; } }
  .hero-search__title {
    font-size: 34px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.9);
    line-height: 42px;
    padding-top: 42px; }
    @media (min-width: 768px) {
      .hero-search__title {
        font-size: 42px; } }
    .hero-search__title span {
      color: #42a5f5;
      display: block; }
      @media (min-width: 768px) {
        .hero-search__title span {
          display: inline-block; } }
  .hero-search__subtitle {
    color: rgba(255, 255, 255, 0.9);
    padding-top: 12px; }
    .hero-search__subtitle p {
      font-size: 14px;
      font-weight: lighter; }
      @media (min-width: 768px) {
        .hero-search__subtitle p {
          font-size: 18px;
          line-height: 28px; } }
  .hero-search__form {
    padding: 36px 0;
    position: relative; }
    @media (min-width: 768px) {
      .hero-search__form {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto; }
        .hero-search__form:after {
          content: " ";
          display: block;
          clear: both; } }
    .hero-search__form input[type='text'] {
      border: none;
      border-radius: 4px;
      width: 100%;
      padding: 12px 15px; }
      @media (min-width: 768px) {
        .hero-search__form input[type='text'] {
          padding: 22px; } }
    .hero-search__form__icon {
      position: absolute;
      top: 36px;
      right: 0;
      width: 39px;
      height: 39px; }
      @media (min-width: 768px) {
        .hero-search__form__icon {
          width: 59px;
          height: 59px; } }
      .hero-search__form__icon input[type='submit'] {
        border: none;
        display: block;
        width: 100%;
        height: 100%;
        cursor: pointer;
        background-color: #42a5f5;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px; }
      .hero-search__form__icon i {
        font-size: 16px;
        color: #FFF;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%); }
        @media (min-width: 768px) {
          .hero-search__form__icon i {
            font-size: 24px; } }
    .hero-search__form ::placeholder {
      color: #4b4b4b; }
      @media (min-width: 768px) {
        .hero-search__form ::placeholder {
          font-size: 24px; } }
  .hero-search__info {
    display: flex;
    justify-content: center;
    padding-bottom: 62px; }
    .hero-search__info ul {
      text-align: left; }
    @media (min-width: 768px) {
      .hero-search__info li {
        float: left;
        margin-right: 30px; } }
    .hero-search__info li a {
      color: white; }
    .hero-search__info i {
      color: #42a5f5;
      margin-right: 20px; }

.testimonial {
  text-align: center; }
  .testimonial__title {
    font-size: 35px;
    color: #4b4b4b;
    font-weight: bold;
    position: relative;
    padding-bottom: 60px;
    padding-top: 30px; }
    .testimonial__title span {
      position: absolute;
      width: 100px;
      height: 1px;
      top: 100px;
      left: 50%;
      background: #4b4b4b;
      transform: translateX(-50%); }

#slider {
  position: relative; }

#prev, #next, #carousel-prev, #carousel-next {
  width: 72px;
  height: 72px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer; }
  #prev i, #next i, #carousel-prev i, #carousel-next i {
    font-size: 72px;
    color: #4b4b4b; }

#prev {
  left: 0; }

#carousel-prev {
  left: 10%; }

#next {
  right: 0; }

#carousel-next {
  right: 10%; }

.slider__wrapper {
  width: 2000px;
  height: 440px;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  clear: both; }

.slides {
  width: 320px;
  float: left;
  opacity: .3;
  margin: 0;
  padding: 0;
  position: relative; }
  .slides img {
    display: block;
    max-width: 320px; }

.active {
  z-index: 100;
  opacity: 1; }
  .active .slider__content {
    display: block; }

.slider__social {
  display: flex;
  justify-content: center;
  margin-top: -16px; }
  .slider__social .icon {
    margin-right: 10px; }
  .slider__social .icon--facebook, .slider__social .icon--twitter, .slider__social .icon--linkedin, .slider__social .icon--google-plus {
    background: #42a5f5; }

.slider__content {
  padding: 16px 0;
  display: none;
  position: absolute;
  top: 300px;
  left: -310px;
  width: 960px; }

.author {
  color: #4b4b4b;
  padding: 10px; }
  .author span {
    color: #42a5f5;
    font-weight: bold;
    margin-right: 20px; }

.carousel {
  background: url("../images/slider_banner_bg.jpg");
  background-size: cover; }

.carousel-container {
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  padding-bottom: 3rem; }
  .carousel-container h1 {
    font-size: 32px;
    font-weight: bold;
    color: #4b4b4b;
    padding-top: 20px; }
  .carousel-container .article {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 28px; }

.carousel__slider {
  position: relative; }

.carousel-wrapper {
  width: 3000px;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  clear: both; }

.items {
  width: 640px;
  float: left;
  opacity: .3;
  margin: 0;
  padding: 0;
  position: relative;
  margin-top: 3rem; }
  .items img {
    display: block; }

.carousel-content {
  width: 100%;
  color: #FFF;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none; }

.play {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: solid 3px #FFF;
  font-size: 32px;
  position: relative;
  left: 50%;
  margin: -20px 0 20px 0;
  transform: translateX(-50%); }
  .play i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%); }

.carousel-socail-links {
  display: flex;
  justify-content: center;
  margin-top: 10px; }
  .carousel-socail-links .icon {
    float: left;
    margin-right: 10px;
    border: solid 1px #FFF;
    width: 42px;
    height: 42px;
    border-radius: 50%; }

.mid-item {
  z-index: 999;
  opacity: 1;
  margin-left: -480px !important; }
  .mid-item .carousel-content {
    display: block; }

.blog-section:after {
  content: "";
  display: table;
  clear: both; }

.blog {
  margin-top: 10px; }
  @media (min-width: 768px) and (max-width: 1200px) {
    .blog {
      width: 49.6183206107%;
      float: left;
      margin-right: 0.7633587786%; }
      .blog:nth-child(2n) {
        width: 49.6183206107%;
        float: right;
        margin-right: 0; } }
  @media (min-width: 1200px) {
    .blog {
      width: 24.427480916%;
      float: left;
      margin-right: 0.7633587786%;
      border: solid 1px #e2e9e6; }
      .blog:nth-child(4n) {
        width: 24.427480916%;
        float: right;
        margin-right: 0; } }
  .blog:hover {
    box-shadow: 1px 1px 1px 1px #a4abb2; }
  .blog img {
    height: 180px; }
  .blog__title {
    padding: 10px 10px 0 10px;
    color: #212121;
    font-size: 22px;
    font-weight: bold; }
    .blog__title a {
      color: #4b4b4b; }
      .blog__title a:hover {
        text-decoration: underline; }
  .blog__content {
    padding: 0 10px;
    font-size: 14px;
    line-height: 24px;
    color: #4b4b4b; }
  .blog__footer {
    padding: 10px; }

.campus {
  text-align: center;
  position: relative; }
  .campus__subtitle {
    color: #a4abb2;
    font-size: 18px;
    margin-top: -50px; }
  .campus__nav {
    width: 100%; }
    .campus__nav ul {
      display: flex;
      justify-content: center; }
    .campus__nav ul > li {
      padding: 10px 20px; }
    .campus__nav a {
      text-decoration: none;
      color: #4b4b4b;
      text-transform: uppercase;
      font-size: 14px; }
      .campus__nav a:hover {
        color: #42a5f5; }
  .campus__gallery figure {
    margin-bottom: 20px;
    cursor: pointer;
    position: relative; }
    .campus__gallery figure img {
      display: block; }
    .campus__gallery figure:hover .category {
      opacity: .6; }
    @media (min-width: 768px) and (max-width: 1200px) {
      .campus__gallery figure {
        width: 49.2957746479%;
        float: left; }
        .campus__gallery figure:nth-child(2n + 1) {
          margin-left: 0;
          margin-right: -100%;
          clear: both;
          margin-left: 0; }
        .campus__gallery figure:nth-child(2n + 2) {
          margin-left: 50.7042253521%;
          margin-right: -100%;
          clear: none; } }
    @media (min-width: 1200px) {
      .campus__gallery figure {
        width: 23.9436619718%;
        float: left; }
        .campus__gallery figure:nth-child(4n + 1) {
          margin-left: 0;
          margin-right: -100%;
          clear: both;
          margin-left: 0; }
        .campus__gallery figure:nth-child(4n + 2) {
          margin-left: 25.3521126761%;
          margin-right: -100%;
          clear: none; }
        .campus__gallery figure:nth-child(4n + 3) {
          margin-left: 50.7042253521%;
          margin-right: -100%;
          clear: none; }
        .campus__gallery figure:nth-child(4n + 4) {
          margin-left: 76.0563380282%;
          margin-right: -100%;
          clear: none; } }
    .campus__gallery figure .category {
      width: 100%;
      height: 100%;
      background: #000;
      position: absolute;
      left: 0;
      bottom: 0;
      opacity: 0; }
      .campus__gallery figure .category h2 {
        position: absolute;
        left: 0;
        bottom: 0;
        padding: 0 10px;
        z-index: 100px;
        color: #FFF; }

/*# sourceMappingURL=style.css.map */