//susy configurations
$susy: (
  columns: 12,
  gutters: 0.5,
  //gutter-position: inside,
  global-box-sizing: border-box,
  //output: isolate
);
/*break points*/
$bp-mobile: 320px;
$bp-tablet: 768px;
$bp-desktop: 1200px;

// $bp-mobile-to-tablet: $bp-mobile $bp-tablet;
// $bp-tablet-to-desktop: $bp-tablet $bp-desktop;

$main-width: 1170px;

.site-content {
  @include container($main-width);
  background: $white-color;
  border: solid 1px $main-color;

  &--dashboard {
    background: $main-color;
    padding: 0 16px;
  }

  &--course-single {
    @include container(100%);
    border: none;
    color: $gray;
  }
  &--full-width {
    @include container(100%);
    border: none;
  }
}
.wrapper {
  padding: 16px 10px;
  @include breakpoint($bp-desktop) {
    @include container($main-width);
  }
  &__video-container {
    padding: 0 10px;
    @include breakpoint($bp-desktop) {
      @include container($main-width);
    }
  }
  &__narrow {
    padding: 0 16px;
    overflow: hidden;
    @include breakpoint($bp-desktop){
      @include container(960px);
    }
  }
}

/*header layout  =========================================*/
.home{
    .woocommerce #primary .products li{
        @include span(12 of 12);

        @include breakpoint($bp-tablet){
          &:nth-child(odd){
            @include span(6 of 12);
          }
          &:nth-child(even){
            @include span(6 of 12 last);
          }
        }

        @include breakpoint($bp-desktop){
          //overriding the tablet view first
          &:nth-child(odd){
            @include span(3 of 12);
          }
          &:nth-child(even){
            @include span(3 of 12);
          }
          &:nth-child(4n){
            @include span(3 of 12 last);
          }
        }
    }
}
.archive{
   #primary .products li{
      @include span(12 of 12);

      @include breakpoint($bp-tablet){
        &:nth-child(odd){
          @include span(6 of 12);
        }
        &:nth-child(even){
          @include span(6 of 12 last);
        }
      }

      @include breakpoint($bp-desktop){
        //overriding the tablet view first
        &:nth-child(odd){
          @include span(3 of 12);
        }
        &:nth-child(even){
          @include span(3 of 12);
        }
        &:nth-child(4n){
          @include span(3 of 12 last);
        }
      }
  }
}
#coupon-popup{
  .modal-content{
    // .modal-hero{
    //   @include span(12 of 12);
    //   @include breakpoint($bp-tablet){
    //     @include span(4 of 12);
    //   }
    // }
    .modal-body{
      @include span(12 of 12);
      // @include breakpoint($bp-tablet){
      //   @include span(8 of 12 last);
      // }
    }
  }
}
/*checkout page layout ==================================*/
.woocommerce-checkout #customer_details,#order_review_heading, #order_review, .jckwds-delivery-date, .jckwds-delivery-time {
  width: 100% !important;
  @include breakpoint($bp-desktop){
    width: 48% !important;

  }
}
// #order_review_heading, #order_review{
//   width: 100% !important;
//   @include breakpoint($bp-tablet){
//     width: 48% !important;

//   }
// }
/*contact us page alyout ===============================*/
.contact-page{
  @include span(12 of 12);
}
.contact-info{
  @include breakpoint($bp-tablet){
      @include span(4 of 12);
  }
}
.contact-page article{
  @include breakpoint($bp-tablet){
      @include span(8 of 12 last);
  }
}
