$main-color: #f5f5f5;
$border-color: #e2e9e6;
$white-color: #FFF;
$anchor-color: #a4abb2;
$heading-color: #212121;
$active-color: #42a5f5;
$green-color: #3d8b40;
$light-green: #66bb6a;
$failed-color: #d7443f;
$gray: #4b4b4b;
$secondary-color: #e0e0e0;
