* {
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
}
ul{
  list-style-type: none;
}
a {
  text-decoration: none;
}
body{
  font-family:"Open Sans", sans-serif;
}
img {
  width: 100%;
}
.required{
	color: red;
}
.container{
    margin-top: 50px;
    margin-bottom: 50px;
}
.site-content{
  margin-bottom: 0px !important;
}
.page-content{
  background-color: white;
  width: 100%;
}
.inline-list {
  @include clearfix;
  li {
    display: block;
    @include breakpoint($bp-desktop){
      float: left;
    }
  }

}
