.blog-section {
  @include clearfix;
}
.blog {
  margin-top: 10px;
  @include breakpoint((min-width: $bp-tablet, max-width: $bp-desktop)){
    @include with-layout(12 0.1){
      @include span(6 of 12);
      &:nth-child(2n){
        @include span(6 of 12 last);
      }
    }
  }
  @include breakpoint($bp-desktop){
    @include with-layout(12 0.1){
      @include span(3 of 12);
      border: solid 1px $border-color;
      &:nth-child(4n){
        @include span(3 of 12 last);
      }
    }
  }
  &:hover {
    box-shadow: 1px 1px 1px 1px $anchor-color;
  }
  img {
    height: 180px;
  }

  &__title {
    padding: 10px 10px 0 10px;
    color: $heading-color;
    font-size: 22px;
    font-weight: bold;
    a {
      color: $gray;
      &:hover {
        text-decoration: underline;
      }
    }

  }

  &__content {
    padding: 0 10px;
    font-size: 14px;
    line-height: 24px;
    color: $gray;
  }

  &__footer {
    padding: 10px;
  }
}
