.btn {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
}
.btn-primary {
  background: $active-color;
  color: $white-color;
}
.btn-small {
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 3px;
}
.btn-white {
  background: $white-color;
  border: solid 1px $main-color;
  &:hover {
    background: $main-color;
  }
}
.btn-green {
  background: $green-color;
  color: $white-color;
}
.btn-learning {
  background: $failed-color;
  border-radius: 25px;
  color: $white-color;
  font-weight: 100;
  &:hover {
    background: transparent;
    border: solid 1px $white-color;
  }
}
