.campus {
  text-align: center;
  position: relative;

  &__subtitle {
    color: $anchor-color;
    font-size: 18px;
    margin-top: -50px;
  }

  &__nav {
    width: 100%;
    ul {
      display: flex;
      justify-content: center;
    }
    ul > li {
      padding: 10px 20px;
    }
    a {
      @include link-style($gray, $active-color);
      text-transform: uppercase;
      font-size: 14px;
    }
  }

  &__gallery {
    figure {
      margin-bottom: 20px;
      cursor: pointer;
      img{
        display: block;
      }
      position: relative;
      &:hover {
        .category {
          opacity: .6;
        }
      }
      @include breakpoint((min-width: $bp-tablet, max-width: $bp-desktop)){
        @include with-layout(12 0.2){
          @include gallery(6 of 12);
        }
      }
      @include breakpoint($bp-desktop){
        @include with-layout(12 0.2){
          @include gallery(3 of 12);
        }
      }
      .category {
        width: 100%;
        height: 100%;
        background: #000;
        position: absolute;
        left: 0;
        bottom: 0;
        opacity: 0;
        h2 {
          position: absolute;
          left: 0;
          bottom: 0;
          padding: 0 10px;
          z-index: 100px;
          color: $white-color;
        }
      }
    }
  }
}
