/*contact us layout */
.contact-info{
   overflow: hidden;
   padding: 0px 10px;
}

.contact-page article{
    overflow: hidden;
}

.contact-page .site-main{
    background: white;
    overflow: hidden !important;
}

.page-content, .entry-content, .entry-summary{
    margin: 0px;
    padding: 0px 10px;
    margin-top: 10px;
    @include breakpoint($bp-tablet){
        margin-top: 0px;
    }
    @include breakpoint($bp-desktop){

        padding: 0px 100px 0px 0px;
    }
}
.contact-page .page-content{
    // margin-top: -27px;
    padding: 10px;

}

.contact-page .container{
    overflow: hidden;
    margin-top: 15px;
    margin-bottom: 0px;
}
.contact-page .entry-header{
    margin: 25px 10px;
}
.contact-info ul{
    list-style-type: none;
    margin:  0;
}
.contact-info h3 {
    color: #f6a8c6; 
    margin-bottom: 5px;
    font-weight: bold;
}
.gmap{
    margin: 10px 0px;
}
.contact-page .entry-title{
    font-size: 2em;
    margin: 0.67em 0;
    font-weight: bold;
}

.contact-page{
    input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"]{
        width: 100%;
    }
}
