.video-container {
  background: linear-gradient(180deg, #000, $gray);
  &__text {
    background: linear-gradient(90deg, #000 0, #000 35%, transparent);
    &__course-overview {
      display: none;
      @include breakpoint($bp-desktop){
        display: block;
      }
      max-width: 450px;
      padding-left: 10px;
      background: none;
      color: $white-color;
      &__instructor {
        font-size: 24px;
        padding-bottom: 22px;
        padding-top: 14px;
      }
      &__name {
        font-size: 36px;
        line-height: 46px;
        padding-bottom: 46px;
      }
      &__info {
        padding-bottom: 42px;
        p {
          font-size: 16px;
          font-weight: bold;
        }
      }
      &__price {
        line-height: 20px;
        padding-bottom: 42px;
        span {
          margin-left: 30px;
        }
        a {
          color: $active-color;
        }
      }
      &__buy {
        position: relative;
        padding-bottom: 90px;
        button {
          padding: 13px 20px;
        }
      }
      &__buy__icons {
        position: absolute;
        top: -16px;
        left: 212px;
        @include clearfix;
        padding: 16px 0;
        display: block;
        .icon--large {
          float: left;
          margin-right: 10px;
        }
      }
    }
  }
  &__icon {
    min-height: 160px;
    background: url('../images/video-bg.jpg');
    background-size: cover;
    position: relative;
    @include breakpoint($bp-tablet){
      min-height: 340px;
    }
  }
  &__icon__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    i {
      color: $white-color;
      font-size: 64px;
      @include breakpoint($bp-desktop){
        font-size: 114px;
      }
    }
  }
}
.course-overview {
  display: none;
  background: linear-gradient(180deg, $secondary-color, $main-color);
  &__instructor {
    font-size: 20px;
    padding-bottom: 16px;
  }
  &__name {
    font-size: 24px;
    line-height: 34px;
    padding-bottom: 16px;
  }
  &__info {
    line-height: 20px;
    padding-bottom: 16px;
    p {
      font-size: 14px;
      font-weight: bold;
    }
  }
  &__price {
    line-height: 20px;
    padding-bottom: 16px;
    a {
      color: $active-color;
    }
    strong {
      font-weight: bold;
    }
  }
  &__buy__icons {
    @include clearfix;
    padding: 16px 0;
    display: block;
    .icon--large {
      float: left;
      margin-right: 10px;
    }
  }
}
.about-course {
  padding-top: 20px;
  &__title {
    position: relative;
    padding-bottom: 16px;
    h2 {
      font-size: 28px;
      font-weight: 500;
      position: absolute;
      top: -9px;
      left: 42px;
    }
  }
  &__social {
    padding-bottom: 20px;
    @include breakpoint($bp-tablet){
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  &__social__share {
    color: #000;
    @include breakpoint($bp-tablet){
      position: absolute;
      left: -75px;
    }
  }
  &__social__links {
    display: inline-flex;
    .icon {
      margin-right: 10px;
    }
    a {
      color: $white-color;
    }
  }
  &__objective {
    padding-bottom: 20px;
  }
  &__desc {
    padding-bottom: 20px;
  }
  &__sidebar {
    li {
      margin-bottom: 14px;
      line-height: 22px;
      h4 {
        color: $failed-color;
        font-weight: bold;
      }
      p {
        color: $gray;
      }
    }
  }
}
.sessions {
  background-color: $secondary-color;
  padding-top: 20px;
  &__title {
    position: relative;
    padding-bottom: 30px;
    &__ul-icon {
      i {
        font-size: 24px;
      }
    }
    p {
      font-size: 24px;
      position: absolute;
      top: -11px;
      left: 34px;

      span {
        display: block;
        font-size: 12px;
        margin-top: -12px;
        @include breakpoint($bp-tablet){
          display: inline-block;
          position: relative;
          top: -2px;
          margin-left: 10px;
        }
      }
    }
    &__session-collapse {
      position: absolute;
      top: -8px;
      right: 0;
      span {
        font-size: 24px;
      }
    }
  }
  &__videos {
    background: $white-color;
    border-radius: 4px;
    border: solid 1px $border-color;
    margin-bottom: 20px;
    &__title {
      position: relative;
      overflow: hidden;
      border-bottom: solid 1px $border-color;
      span {
        display: block;
        font-size: 28px;
        width: 40px;
        height: 40px;
        border-top-left-radius: 4px;
        background: $failed-color;
        color: $white-color;
        line-height: 40px;
        padding-left: 11px;
      }
      h2 {
        position: absolute;
        top: 5px;
        left: 50px;
      }
    }
    &__preview {
      .session {
        position: relative;
        padding: 4px 10px;
        border-bottom: solid 1px $border-color;
        h2 {
          position: absolute;
          top: 5px;
          left: 24px;
        }
        span {
          position: absolute;
          top: 5px;
          right: 10px;
        }
      }
      .session__lectures {
        position: relative;
        padding: 4px 10px 4px 20px;
        border-bottom: solid 1px $border-color;
        display: none;
        &:last-child {
          border-bottom: none;
        }
        h2 {
          position: absolute;
          top: 4px;
          left: 42px;
          a {
            color: $active-color;
          }
        }
        span {
          position: absolute;
          top: 5px;
          right: 10px;
        }
      }
    }
  }
  &__footer {
    position: relative;
  }
  &__mentor {
    position: relative;
    padding-top: 20px;
    @include breakpoint($bp-desktop){
      padding-top: 0;
    }
    p {
      position: absolute;
      top: 13px;
      left: 28px;
      font-size: 22px;
      @include breakpoint($bp-desktop){
        top: -7px;
      }
    }
    &__img {
      width: 122px;
      height: 122px;
      margin-top: 10px;
      border-radius: 61px;
      overflow: hidden;
    }
    &__bio {
      h2 {
        font-size: 32px;
        color: $gray;
        font-weight: 600;
      }
      h4 {
        color: $gray;
        margin: -20px 0 10px 0;
      }
      a {
      text-decoration: none;
      font-size: 14px;
      color: $active-color;

      &:hover {
        text-decoration: underline;
      }
    }
    }
  }
}
.title {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: $gray;
}
.article {
  font-size: 14px;
  color: $gray;
  line-height: 22px;
}
.main-content {
  position: relative;
  @include breakpoint($bp-desktop){
    @include span(8 of 12);
  }
}
.side-bar {
  @include breakpoint($bp-desktop){
    @include span(4 of 12 last);
  }
}
