.dashboard-title {
  padding: 20px 0;

  h1 {
    font-size: 32px;
    color: $heading-color;
    font-weight: 500;
  }
}
.breadcrumb {
  background: $white-color;
  border: solid 1px $border-color;
  font-size: 14px;
  padding:10px;
  @include clearfix;
  @include breakpoint($bp-tablet){
    padding: 0;
  }

  .dashboard-icon {
    width: 62px;
    height: 62px;
    background: $light-green;
    display: inline-block;
    @include breakpoint($bp-tablet){
      float:left;
    }
    i {
      font-size: 24px;
      color: $white-color;
      margin-top: 19px;
      margin-left: 19px;
    }
  }

  strong {
    font-weight: 500;
  }

  p {
    display: inline-block;
    @include breakpoint($bp-tablet){
      margin-left: 10px;
      margin-top: 19px;
    }
  }

  button {
    float: right;
    margin-top: 16px;
    @include breakpoint($bp-tablet){
      margin-right: 10px;
      margin-top: 10px;
    }
  }
}

.quizzes {
  font-size: 14px;
  .course-info {
    border-bottom: solid 1px $border-color;
    padding: 6px 14px;
    @include clearfix;

    .course {
      display: inline-block;
    }
  }
  .subject {
    font-size: 13px;
    margin-top: -6px;
    span {
      color: $anchor-color;
    }
  }
  .grade {
    float: right;
    h1 {
      font-size: 38px;
      margin-top: -20px;
    }
    p{
      margin-top: -24px;
      color: $anchor-color;
    }
    &--great {
      color: $light-green;
    }
    &--failed {
      color: $failed-color;
    }
  }
}
.rewards {
  .section-title {
    border-bottom: none;
  }
  &-icon {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: inline-block;
    margin: 10px 0 10px 10px;
    i {
      font-size: 24px;
      color: $white-color;
      margin: 13px 0 0 13px;
    }

    &--blue {
      background: $active-color;
    }
    &--green {
      background: $light-green;
    }
    &--gray {
      background: $main-color;
    }
    &--cup {
      i {
        margin-left: 10px;
      }
    }
  }
}
.forum-activity {
  h2 {
    font-size: 24px;
  }
  h4 {
    color: $anchor-color;
  }
  .recent-activity {
    padding: 10px 14px;
    border-bottom: solid 1px $border-color;
    &:last-child {
      border-bottom: none;
    }
    figure {
      width: 42px;
      height: 42px;
      border-radius: 21px;
      overflow: hidden;
      display: inline-block;
      @include breakpoint($bp-tablet){
        float: left;
      }

      img {
        height:60px;
        width:60px;
        margin-top: -6px;
        margin-left: -9px;
      }
    }
    .topic {
      display: inline-block;
      font-size: 14px;
      @include breakpoint($bp-tablet) {
        margin-left: 10px;
      }
      span {
        p {
          font-size: 13px;
          margin-top: -8px;
        }
      }
    }
    .time-published {
      float: right;
      margin-top: 12px;
      font-size: 12px;
      color: $anchor-color;
    }
  }
  @include clearfix;
}
.left-content{
  @include breakpoint($bp-desktop){
    @include span(6 of 12);
  }
}
.right-content {
  @include breakpoint($bp-desktop){
    @include span(6 of 12 last);
  }
}
