.form-container {
  color: $heading-color;
  padding: 20px 10px;
  @include breakpoint($bp-tablet){
    padding: 20px 0;
  }
  @include clearfix;
}
.input-group {
  @include span(12 of 12);
  padding-bottom: 16px;
}
.form-label {
  font-weight: bold;
  font-size: 12px;
  @include breakpoint($bp-tablet){
    @include span(3 of 12);
    text-align: right;
  }
}
.form-control {
  @include breakpoint($bp-tablet){
    @include span(9 of 12 last);
  }
  .full-name-container {
    border-bottom: solid 1px $border-color;
    display: block;
    width: 100%;
    margin-right: 0;
    @include breakpoint($bp-tablet){
      display: inline-block;
      width: 240px;
      margin-right: 20px;
    }
  }
  .input-container {
    border-bottom: solid 1px $border-color;
    width: 100%;
    @include breakpoint($bp-tablet){
      width: 400px;
    }
  }
  &-icon {
    float: left;
    padding-right: 20px;
    color: $border-color;
  }
  p {
    font-size: 12px;
    color: $active-color;
    display: none;
  }
}
input[type='text'], input[type="email"], input[type="password"] {
  border: none;
  padding: 10px 0;
}
::placeholder {
  color: $heading-color;
  font-size: 14px;
}
.profile-pic {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  display: inline-block;
  font-size: 35px;
  background: $main-color;
}
.upload-pic {
  display: inline-block;
  margin-left: 10px;
}
select {
  background: $main-color;
  color: $heading-color;
  border: solid 1px $border-color;
  border-radius: 3px;
  padding: 5px 10px 5px 5px;
}
