.hero-search {
  background: url('../images/bg_banner_02-3.jpg');
  background-position: center;
  text-align: center;
  @include breakpoint($bp-desktop){
    background-size: cover;
    padding: 100px 0;
  }
  &__content {
    background: rgba(0, 0, 0, .6);
    @include breakpoint($bp-desktop){
      @include container(960px);
      border-radius: 4px;
    }
  }
  &__title {
    font-size: 34px;
    font-weight: 500;
    color: rgba(255, 255, 255, .9);
    line-height: 42px;
    padding-top: 42px;
    @include breakpoint($bp-tablet){
      font-size: 42px;
    }
    span {
      color: $active-color;
      display: block;
      @include breakpoint($bp-tablet){
        display: inline-block;
      }
    }
  }

  &__subtitle {
    color: rgba(255, 255, 255, .9);
    padding-top: 12px;
    p {
      font-size: 14px;
      font-weight: lighter;
      @include breakpoint($bp-tablet){
        font-size: 18px;
        line-height: 28px;
      }
    }
  }

  &__form {
    padding: 36px 0;
    position: relative;
    @include breakpoint($bp-tablet){
      @include container(90%);
    }
    input[type='text']{
      border: none;
      border-radius: 4px;
      width: 100%;
      padding: 12px 15px;
      @include breakpoint($bp-tablet){
        padding: 22px;
      }
    }
    &__icon {
      position: absolute;
      top: 36px;
      right: 0;
      width: 39px;
      height: 39px;
      @include breakpoint($bp-tablet){
        width: 59px;
        height: 59px;
      }
      input[type='submit']{
        border:none;
        display: block;
        width: 100%;
        height: 100%;
        cursor: pointer;
        background-color: $active-color;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
      i{
        font-size: 16px;
        color: $white-color;
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        @include breakpoint($bp-tablet){
          font-size: 24px;
        }
      }
    }
    ::placeholder {
      color: $gray;
      @include breakpoint($bp-tablet){
        font-size: 24px;
      }
    }
  }


  &__info {
    display: flex;
    justify-content: center;
    padding-bottom: 62px;
    ul {
      text-align: left;
    }
    li {
      @include breakpoint($bp-tablet){
        float: left;
        margin-right: 30px;
      }
      a {
        color: white;
      }
    }
    i {
      color: $active-color;
      margin-right: 20px;
    }
  }
}
