.icon {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  i {
    color: $white-color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
  }
  &--large {
    width: 42px;
    height: 42px;
    border-radius: 21px;
  }
  &--info {
    background: $gray;
    i {
      font-size: 28px;
    }
  }
  &--facebook {
    background: #4A64A6;
  }
  &--twitter {
    background: #4EAAF1;
  }
  &--linkedin {
    background: #0075B7;
  }
  &--google-plus {
    background: #D94A3A;
  }
  &--plus {
    position: relative;
    width: 16px;
    height: 16px;
    display: inline-block;
    &--small {
      position: relative;
      width: 9px;
      height: 9px;
      display: inline-block;
    }
    &__vbar {
      width: 4px;
      height: 16px;
      background: $gray;
      position: absolute;
      top: 0;
      left: 6px;
      &--small {
        width: 2px;
        height: 10px;
        background: $active-color;
        position: absolute;
        top: 0;
        left: 4px;
      }
    }
    &__hbar {
      width: 16px;
      height: 4px;
      background: $gray;
      position: absolute;
      top: 6px;
      left: 0;
      &--small {
        width: 10px;
        height: 2px;
        background: $active-color;
        position: absolute;
        top: 4px;
        left: 0;
      }
    }
  }
  &--minus{
    display: inline-block;
    width: 16px;
    height: 4px;
    background: $gray;
    position: relative;
    right: 0;
    top: -5px;
  }
  &--play {
    i {
      font-size: 16px;
      color: $active-color;
    }
  }
  &--cart {
    background: #FFF;
    i {
      color: $gray;
      font-size: 28px;
      margin-left: 7px;
      margin-top: 8px;
    }
  }
  &--like {
    background: #FFF;
    i {
      color: $failed-color;
      font-weight: bold;
      font-size: 28px;
      margin-left: 7px;
      margin-top: 8px;
    }
  }
}
