.modal {
  position: fixed;
  z-index: 5;
  background: #000;
  top: 0;
  right:0;
  left: 0;
  height: 160px;
  display: none;
  @include breakpoint((min-width: $bp-tablet, max-width: $bp-desktop)){
    min-height: 340px;
  }
  @include breakpoint($bp-desktop){
    height: 100vh;
  }

  video {
    width: 100%;
    height: 160px;
    @include breakpoint((min-width: $bp-tablet, max-width: $bp-desktop)){
      min-height: 340px;
    }
    @include breakpoint($bp-desktop){
      height: 100vh;
    }
  }
  &__close {
    color: $white-color;
    font-size: 24px;
    position: absolute;
    z-index: 10;
    top: -8px;
    right: 10px;
    padding: 0;
    transform: scaleX(1.2);
    transform-origin: 100% 0;
    cursor: pointer;
    @include breakpoint($bp-desktop){
      font-size: 42px;
      z-index: 10;
      top: -16px;
    }
    &:hover {
      color: $anchor-color;
    }
  }
}
