.nav-taps {
  background: $main-color;
  color: $anchor-color;
  font-size: 14px;
  .text {
    display: none;
    @include breakpoint($bp-desktop){
      display: inline-block;
    }
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
    display: inline-block;
    padding: 10px;
  }
  .active {
    background: $white-color;
    border: solid 1px $border-color;
    border-bottom: none;
    a {
      color: $active-color;
    }
  }
  a {
    font-weight: 300;
    text-decoration: none;
    padding: 16px 10px;
    color: $anchor-color;
    font-weight: 500;
  }
  @include clearfix;
}
