.payments-details{
  border-top: solid 1px $border-color;
  margin: 12px;

}
.section-title {
  padding: 20px 0;
  h2 {
    font-weight: 500;
    display: inline-block;
  }
  button {
    float: right;
  }
}
.payment-info {
  border: solid 1px $border-color;
  padding: 10px;
  border-bottom: none;
  &:last-child {
    border-bottom: solid 1px $border-color;
  }
  .creadit-icon {
    float: left;
    width: 56px;
    height: 56px;
    border-radius: 28px;
    overflow: hidden;
    margin-right: 14px;
    padding-top: 13px;
    padding-left: 13px;
    background: $main-color;
    i {
      font-size: 28px;
    }
  }
  .creadit-info  {
    float: left;
  }
  button {
    float: right;
    margin-top: 9px;
  }
  h3 {
    font-weight: bold;
  }
  p {
    color: $heading-color;
  }
  @include clearfix;
}
