.progress {
  width: 100px;
  height: 10px;
  background: $main-color;
  position: relative;
}
.progress-bar {
  height: 10px;
  position: absolute;
  top: 0;
  left: 0;

  &__30 {
    width: 30%;
  }
  &__50 {
    width: 50%;
  }

  &__70 {
    width: 70%;
  }

  &__blue {
    background: $active-color;
  }
}
