.section {
  background: $white-color;
  border: solid 1px $border-color;
  border-radius: 3px;
  margin: 16px 0;

  &-title {
    border-bottom: solid 1px $border-color;
    padding: 0 14px;
    h2 {
      margin:0;
      padding: 0;
      font-size: 24px;
      span {
        font-size: 18px;
        color: $anchor-color;
      }
    }
    h4 {
      font-size: 16px;
      color: $anchor-color;
      margin-top: -16px;
    }
  }

  &-content {
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      display: block;
      padding: 6px 14px;
      border-bottom: solid 1px $border-color;
      @include clearfix;
      .progress {
        float: right;
        margin-top: 12px;
      }
    }
    a {
      text-decoration: none;
      color: $heading-color;
      &:hover {
        color: $active-color;
      }
    }
  }
  &-footer {
    text-align: right;
    padding: 10px 14px;
  }
}
