#slider {
  position: relative;
}
#prev, #next, #carousel-prev, #carousel-next {
  width: 72px;
  height: 72px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  i {
    font-size: 72px;
    color: $gray;
  }
}
#prev {
  left: 0;
}
#carousel-prev {
  left: 10%;
}
#next {
  right: 0;
}
#carousel-next {
  right: 10%;
}

.slider__wrapper {
  width: 2000px;
  height: 440px;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  clear: both;
}
.slides {
  width: 320px;
  float: left;
  opacity: .3;
  margin: 0;
  padding: 0;
  position: relative;
  img {
    display: block;
    max-width: 320px;
  }
}
.active {
  z-index: 100;
  opacity: 1;
  .slider__content {
    display: block;
  }
}
.slider__social {
  display: flex;
  justify-content: center;
  .icon {
    margin-right: 10px;
  }
  margin-top: -16px;
  .icon--facebook, .icon--twitter, .icon--linkedin, .icon--google-plus {
    background: $active-color;
  }
}
.slider__content {
  padding: 16px 0;
  display: none;
  position: absolute;
  top: 300px;
  left: -310px;
  width: 960px;
}
.author {
  color: $gray;
  padding: 10px;
  span {
    color: $active-color;
    font-weight: bold;
    margin-right: 20px;
  }
}

.carousel {
  background: url('../images/slider_banner_bg.jpg');
  background-size: cover;
}
.carousel-container {
  background: rgba(255, 255, 255, .9);
  text-align: center;
  padding-bottom: 3rem;
  h1 {
    font-size: 32px;
    font-weight: bold;
    color: $gray;
    padding-top: 20px;
  }
  .article {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 28px;
  }
}
.carousel__slider {
  position: relative;
}
.carousel-wrapper {
  width: 3000px;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  clear: both;
}
.items {
  width: 640px;
  float: left;
  opacity: .3;
  margin: 0;
  padding: 0;
  position: relative;
  img {
    display: block;
  }
  margin-top: 3rem;
}
.carousel-content {
  width: 100%;
  color: #FFF;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
.play {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: solid 3px #FFF;
  font-size: 32px;
  position: relative;
  left: 50%;
  margin: -20px 0 20px 0;
  transform: translateX(-50%);
  i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
  }
}
.carousel-socail-links {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  .icon {
    float: left;
    margin-right: 10px;
    border: solid 1px #FFF;
    width: 42px;
    height: 42px;
    border-radius: 50%;
  }
}
.mid-item {
  z-index: 999;
  opacity: 1;
  margin-left: -480px!important;
  .carousel-content {
    display: block;
  }
}
