.testimonial {
  text-align: center;

  &__title {
    font-size: 35px;
    color: $gray;
    font-weight: bold;
    position: relative;
    padding-bottom: 60px;
    padding-top: 30px;
    span{
      position: absolute;
      width: 100px;
      height: 1px;
      top: 100px;
      left: 50%;
      background: $gray;
      transform: translateX(-50%);
    }
  }
}
